<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>健身房预约</title>
<!-- <link rel="icon" href="images/" type="image/x-icon"/> -->
<!--通用CSS-->
<link href="./../../../../Public/home/dist/css/reset1.css" rel="stylesheet">
<!--本页CSS-->
<link href="./../../../../Public/home/dist/css/sport_zu.css" rel="stylesheet">
</head>
<div class="wx_qyfw_header_img">
	<img src="./../../../../Public/home/dist/images/index_qyfc4.png">
</div>
<div class="sport_main">
    <h4>健身房预约</h4>
    <p class="sport_main_p1">为确保绿谷信息产业园规范化,营造园区良好的会务环境，为园区提供更好的服务。</p>
    <p class="sport_main_p1">如有疑问，请联系我们：0578-2200216</p>
    <p>地址：绿谷信息产业园一号楼302室</p>

</div>

<!--通用JS-->
<script src="./../../../../Public/home/dist/js/jquery-1.11.1.min.js"></script>
<script src="./../../../../Public/home/dist/js/rem.js"></script>
<!--本页JS-->
<!-- <script src="js/flfw.js"></script> -->
</html>
