<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>丽水市人民政府关于加快发展信息经济的实施意见</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/qyfc_bg.png">
	</div>
	<div class="content">
		<h3></h3>
	</div>
一、面积分配
       按企业入园申报办公人数进行分配，人均10㎡（含公
摊）。
二、租金标准
      办公室：以中介公司评估的园区指导价为准，园区运营
方可根据园区企业入住率、市场行情变化、政策变化等因
素每两年对园区房租指导价进行调整。
三、租金政策考核及兑现
     1、考核
    （1）考核期限
     三年，实行一年一考核。
    （2）考核区域
     企业承租的办公用房面积，休闲边庭面积不纳入考核。
    （3）考核内容
     ①丽政办发〔2016〕107号第一条第（四）款租金政策
要求，针对每个企业的入驻需求及企业特性，税收强度要
求会有不同标准，具体以《绿谷信息产业园招商协议》合
同的确认为准；
     ②企业在园区内的年度平均办公人数（或指定月份，不
少于3个月），具体以《绿谷信息产业园招商协议》合同的
确认为准。
     公司注册地变更至本园区。
     税收缴纳地为丽水市级。
    （4）考核依据
     ①租金政策：纳税证明、风投合作合同、财务报表等。
     ②人数：社保交纳证明（连续交纳不少于3个月）、劳
动合同、工资册、工资打款凭证（连续不少于3个月）等。
四、入园应提交资料及费用
       1、应提交资料
    （1）《入园企业信息登记表》一份，加盖公章；
    （2）营业执照复印件两份，加盖公章；
    （3）企业资质认定、认证证书复印件（包括但不限于
高新技术企业证书、民营科技企业证书、软件企业证书、
ISO认证证书、CMM认证证书、集成电路布图设计证书、
计算机信息系统集成资质证书、增值电信业务电信经营许
可证等）；
    （4）产品登记、评定证书复印件（如版权登记证书、产
品鉴定证书、产品获奖证书等）；
    （5）企业公司章程；

	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>