<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>月报表</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<link href="./../../../../Public/home/dist/css/reset.css" rel="stylesheet">
		<link href="./../../../../Public/home/dist/css/yue.css" rel="stylesheet">

		<style>
		.title{
			width: 100%;
			height: 0.34rem;
			background-color: #424040;
		}
		.title>P{
			color: #FFFFFF;
			line-height: 0.34rem;
			margin-right: 0.13rem;
			text-align: center;
		}
		</style>
	</head>
	<body>
		<div class="title">
			<p>月报表</p>
		</div>
		<form action="" method="post">
		<table>
			<tr class="tr-h">
				<td>指示名称</td>
				<td>本年本期累计</td>
				<td>去年同期累计</td>
				<td>上月累计</td>
			</tr>
			<tr class="tr-b">
				<td>单位个数</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b">
				<td>营业收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b">
				<td>软件业务<br>收入合计</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			</table>
			
			
			<table>
			<tr class="tr-h-1 cli">
				<td colspan="4">(一)按业务类型分类</td>
			</tr>
			</table>
			
			<div class="table-a">
			<table>	
			<tr class="tr-b tr-one">
				<td>1、软件产品收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b tr-one">
				<td>信息安全<br>产品收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b tr-one">
				<td>工业软件<br>产品收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b tr-one">
				<td>2、信息技术服务收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b tr-one">
				<td>运营服务<br>收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b tr-one">
				<td>电子商务平台<br>技术服务收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b tr-one">
				<td>集成电路<br>设计收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			<tr class="tr-b tr-one ">
				<td>3、嵌入式系统软件收入</td>
				<td><input type="text" class="one"></td>
				<td><input type="text" class="two"></td>
				<td><input type="text" class="three"></td>
			</tr>
			</table>
			</div>
			
			<table>
				<tr class="tr-h-1 cll">
					<td colspan="4">(二)按服务模式分类</td>
				</tr>
			</table>
			
			<div class="table-b">
				<table>
					<tr class="tr-b tr-two">
						<td>软件外包<br>服务收入</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
				</table>
			</div>
			
			<table>
				<tr class="tr-h-1 cld">
					<td colspan="4">(三)按销售地分裂</td>
				</tr>
			</table>
			
			<div class="table-c">
				<table>
					<tr class="tr-b">
						<td>软件业务出口</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
					<tr class="tr-b">
						<td>软件外包<br />服务出口</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
					<tr class="tr-b">
						<td>嵌入式系统软件出口</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
					<tr class="tr-b">
						<td>利润总额</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
					<tr class="tr-b">
						<td>税金总额</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
					<tr class="tr-b">
						<td>从业人员<br>工资总额</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
					<tr class="tr-b">
						<td>从业人员<br>平均人数</td>
						<td><input type="text" class="one"></td>
						<td><input type="text" class="two"></td>
						<td><input type="text" class="three"></td>
					</tr>
				</table>
			</div>
			<input type="submit" class="sub" value="确认递交"/>
		</form>	

		<script src="./../../../../Public/home/dist/js/rem.js"></script>
		<script src="./../../../../Public/home/dist/js/jquery-1.11.1.min.js"></script>
		<script src="./../../../../Public/home/dist/js/yue.js"></script>
	</body>
</html>
