<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>中共丽水市委 丽水市人民政府印发《关于加强高层次创业创新人才队伍 建设的意见》等两个文件的通知</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>中共丽水市委 丽水市人民政府</h3>
		<h3>印发《关于加强高层次创业创新人才队伍 建设的意见》等两个文件的通知</h3>
		<h4>丽委发〔2016〕38 号</h4>
		<p>关于加强高层次创业创新人才队伍建设的意见： </p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;为深入贯彻习近平总书记系列重要讲话精神，认真落实《中共中央印发<关于深化人才发展体制机制改革的意见>的通知》（中发〔2016〕9 号）、《中共浙江 省委浙江省人民政府关于深化人才发展体制机制改革支持人才创业创新的意见》（浙委发〔2016〕14 号）及市委对人才工作的部署要求，着力建设一支“数量 充足、结构优化、素质较高”的创业创新人才队伍，为我市践行“两山”战略、 实现“双区”示范提供人才支撑和智力保障，现就加强创业创新人才队伍建设 提出如下意见。
		</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;结合我市实际，按照人才业绩贡献和能力水平，将高层次人才分为国内外 顶尖人才（A 类）、国家级领军人才（B 类）、省级领军人才（C 类）、市级领军 人才（D 类）、高级人才（E 类）五个层次。成立市人才分类协调小组，定期修 订完善人才分类目录。
根据经济社会发展需要，每年编制发布紧缺人才开发导向目录。</p>
		<p>一、完善务实有效的培养开发机制 </p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;1.落实人才专项奖励。对我市自主申报入选 A 类的给予 300 万元奖励，入选 B 类的给予 100 万元奖励，入选省“千人计划”、 省“特支计划”专家给予 1:0.5 配套奖励，入选其他 C 类的给予 10 万元奖励，入选 D 类的给予 5 万元 奖励。鼓励用人单位给予配套奖励。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;2.实施人才项目资助。每年安排 200 万元用于人才项目资助，在培养期内 的市拔尖人才、市“138”第一和第二层次培养对象、绿谷新秀，可申请3至 20 万元的项目资助。继续加大市企业、科技和文化创新团队培养力度。对我市人 才团队入选省领军型创新创业团队的，在首个资助期内，按照不低于省级财政投入额度配套资助。 </li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;3.完善人才培养体系。优化整合提升丽水各类人才推荐确认活动，撤销丽水市杰出人才、丽水市突出贡献专家、丽水市科技贡献奖获得者评选，建立丽 水市特级专家推荐确认机制，每 3 年推荐确认 10 名。开展市拔尖人才、138 人 才工程、丽水农师、绿谷名师、绿谷名医名护士、绿谷社工师、绿谷新秀等人 才选拔培养。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;4.加强学习深造资助。加强和改进专业技术人员继续教育，鼓励企事业单 位人才通过在职学习攻读硕士、博士学位，对在职取得博士学位后与市区属企 业或教育、卫生、科研机构等事业单位签订五年以上服务协议的，给予 10 万 元经费资助。每年选派一批高层次人才赴国内外进修深造。对国有企事业单位 科研人员参加国际合作交流活动的，实行更加灵活便利的出国审批制度。加强 党政人才培养，组织实施优秀年轻干部素质提升工程。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;5.加大高技能人才培养力度。深入实施高技能人才“金蓝领”开发计划， 对列入培训补助计划的高技能培训项目，按工种等级给予每人 1000 至 1500 元 补助。设立绿谷技能大奖，对获得中华技能大奖、钱江技能大奖、绿谷技能大 奖的分别给予 15 万元、10 万元、5 万元奖励。对省、市“技能大师工作室” 分别给予 5 万元、2 万元资助，开展带徒授艺并符合要求的，再给予 2 万元补助；
			<p>&nbsp;&nbsp;&nbsp;&nbsp;对市“首席技师”给予 2 万元资助。开展市“五养”技能大师评选，对认定人才给予 5000 元奖励。</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp; 6.加大紧缺人才资助。根据紧缺人才开发导向目录，明确不同类型人才的认定标准和配套待遇，定期发布、动态调整。实施紧缺人才资助，对纳入我市 重点领域紧缺的高级技师、技师，分别发放每人每年 1.2 万元、0.6 万元资助， 对企业中纳入我市重点领域紧缺的中级专业技术职务者、硕士研究生，分别发 放每人每年 0.6 万元、0.3 万元资助，可享受 5 年。</li>
		</ul>
		<p>二、构建精准管用的引才聚才机制</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;7.深化实施“绿谷精英 550 引才计划”。突出产业化成熟项目优先、重点 产业配套项目优先、本土企业引进或合作项目优先、风投进入项目优先的导向， 对入选创业类“绿谷精英 550 引才计划”A 类、B 类、C 类的人才项目，分别给 予 500 万元、300 万元、150 万元资助，分三期拨付，并享受个人待遇。对入选创新类“绿谷精英 550 引才计划”A 类、B 类、C 类的人才项目，按引进人才 年薪的 50%给予企业引才薪酬补助，分别每年最高不超过 80 万元、50 万元、 30 万元，补助时间一般为 3 年，并享受个人待遇。3 年期满后，作用发挥较大且经济和社会效益显著的，延长补助 2 年。对影响我市经济社会发展特别重大 的产业项目，采取“一事一议”的方式，给予特殊的优惠政策。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;8.加大国内外智力柔性引进力度。支持企业引进“海外工程师”，在研发、 设计、技术和经营管理等岗位担任相应的中层及以上职位且当年度在企业实际 工作时间不少于 3 个月的，每年给予企业实际支付薪酬 30%、最高不超过 20 万元的经费支持，资助期限最长为 3 年。外专引智项目获得国家或省级资助的， 给予 1:1 的配套资金支持。加大柔性引才补助力度，对与 A、B、C、D 类人才签 订一年以上服务协议且服务满一年，经绩效评估，对丽水经济社会发展做出贡 献和产生影响的，可由用人单位申请 2～10 万元的绩效补助。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;9.积极运用市场机制开发人才。充分发挥企业、高校、科研机构等用人单 位的引才主体作用，鼓励和支持用人单位加大创业创新人才引进力度。积极培 育社会中介机构，有序承接政府转移的人才引进、培养、评价、流动等职能。 对成功引进落户国家、省“千人计划”或“万人计划”人才(需我市自主申报入 选)、“绿谷精英 550 引才计划”人才的企业，分别给予每人次最高 20 万元、10 万元、3 万元的引才补贴。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;10.推进人才平台建设。继续推进绿谷信息产业园、杭州未来科技城丽水海 创园、大学生创业园、机器人产业基地“三园一地”大平台建设，积极探索人 才管理改革试验区建设。推进专家工作站建设，对新建成省级、市级院士专家 工作站的建站单位，分别给予 30 万元、20 万元资助，经考核合格的每年安排工 作经费 10 万元，资助期三年。对新建成的市级博士工作站，给予 10 万元资助，升格为省级和国家级博士后工作站的，分别追加 10 万元资助。每招收 1 名博士 后研究人员，给予 5 万元科研经费补助、5 万元生活补助。</li>
		</ul>
		<p>三、建立绩效主导的评价激励机制</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;11.鼓励人才向企业集聚。高校、科研院所科研人员经所在单位同意，可以 在丽在职创业并按规定获得报酬。支持从事技术研发、成果转让工作的事业单 位专业技术人才到企业工作，经本单位同意，签订离岗协议，其人事关系 5 年内可保留在原单位，由原单位继续为其缴纳单位部分的社会保险、住房公积金 和职业年金；允许其回原单位申报专业技术资格，创业成果可作为专业技术资 格评价的主要依据，创业成果显著的可破格晋升。发挥浙江省生态发展研究院 作用，凡来丽水创业创新的高层次人才，可按现行政策在发展研究院保留其事 业身份，畅通其在事业单位之间流动的渠道。企业引进高层次人才，支付的购 房（租房）补贴、安家费、科研启动经费等，可据实在计算企业所得税前扣除。 国有企业引进高层次人才产生的专项投入成本可视为当年考核利润。深入推进 “百名博士入百家企业人才引领计划”，对项目落地、成果转化等情况进行考核， 对考核优秀、合格单位分别给予 10 万元、5 万元奖励。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;12.完善人才薪酬分配制度。事业单位对业绩突出的人才， 经主管部门审 核，可单独制定收入分配倾斜政策，不纳入绩效工资总量。科技人员获得科技 进步奖励、承担企业科研项目所获收入、科技成果转化奖励、科研经费绩效奖 励，均不纳入绩效工资总量。对市属高校对外合作办学中因工作需要来丽任教 的教师，给予相应的补助及奖励。对我市重点支持主导产业和战略性新兴产业 企业或平台型企业引进的高级管理人员，可根据其能力业绩制定特别奖励政策。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;13.改进人才评价体系。对职称外语和计算机应用能力考试不作统一要求。 县级以下基层单位专业技术人员，以及其他不以外语作为工作必备条件的人员， 可不参加职称外语考试。将企业工作经历和工作业绩作为高校工程类教师晋升 专业技术职务的重要条件。业绩突出的企业优秀工程技术人员，可以破格或越 级申报专业技术职称。特别优秀的高级技师可以晋升为特级技师，相关待遇参 照教授级高级工程师执行。探索市场化的人才评价方式，借助专业机构开展人 才评价评估。推进企业职称自主评价试点工作，深化企业技能人才自主评价和 直接认定工作，推行行业自主评价技能人才。开展以赛代评，完善丽水市首席 技师评选办法，组织举办职业技能大赛，选拔储备“绿谷工匠”。对我市产业发 展急需、社会贡献较大、现行人才目录难以界定的“偏才”“专才”，经认定可 享受相应层次人才的奖励。</li>
		</ul>
		<p>四、优化真诚优质的服务保障机制</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;14.实施人才津贴制度。对企事业单位在职在聘高层次人才发放人才津贴， 每人每年标准为：A 类 12 万元、B 类 6 万元、C 类 3.6 万元、D 类 2.4 万元（“绿谷精英 550 引才计划”人才除外）、E 类中具有正高级专业技术职务者 1.2 万元，具有副高级专业技术职务者 0.6 万元（其中国有企事业单位人才由所在单位自行研究发放），发放 5 年。在享受人才津贴期间，人才类别发生变化的，自次年起享受相应标准。具有博士学位的专业技术人才，每人每年发放 1.2 万元，可享受 5 年。每年对人才津贴享受对象进行绩效考核，不合格者取消发放当年津 贴。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;15.优化人才住房保障。对每年在丽工作时间不少于 9 个月，与我市用人单位（行政机关单位、参照公务员管理事业单位除外）签订 5 年（含）以上劳动 合同，未享受住房优惠政策或房改政策的高层次人才，且在丽水范围内首次购 房的，以货币化、市场化方式解决住房问题。对 A、B、C、D 类和新引进的 E 类 人才，引进满 2 年，分别给予 200 万元、100 万元、80 万元、50 万元、35 万 元的购房补贴。对首次新引进到我市企事业单位工作的副高级职称专业技术职 务者及高级技师，在市区首次购房的，引进满 2 年，给予 10 万元购房补贴。人才所购住房满 5 年后方可上市交易，服务期未满 5 年离职的,根据未服务年限 按比例退回购房补助。对符合条件的未购房人才，可申请入住人才公寓或给予 租房补贴。对首次新引进到我市企业或教育、卫生、科研机构等事业单位工作 的全日制硕士毕业生，给予 3 万元安家补助。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;16.优化人才家庭保障。妥善解决人才居留落户问题，按政策规定为人才优 先办理《外国人永久居留证》《浙江省海外高层次人才居住证》、多次往返签证 等手续，办理本人及配偶、未成年子女随迁落户手续。多渠道帮助引进人才解 决配偶就业问题，对引进的 D 类及以上层次人才，其配偶原有工作单位的，由 组织人事部门配合引进单位优先安置或推荐到性质相同、相近的本地单位工作； 没有工作单位的，原则上由引进单位妥善安置。引进的 E 类人才配偶安置，可 参照前四类人才政策处理。妥善解决引进高层次人才子女入学问题，对 A、B、C、 D 类人才和 E 类人才引进当年，子女就读幼儿园、义务教育段的可选择就读学校1 次；高中段的通过中考成绩折算，对符合本地学校录取条件的，可转入相应学 校就读。地方财政贡献较大、具有重大技术创新突破或运营重大平台的企业， 经审核认定符合条件的，可每年为本企业、本平台引进的高层次人才申请统筹 安排 1～2 名入学入托名额。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;17.优化人才联系服务。我市事业单位引进 D 类及以上层次人才，已满编 的可申请专项编制，需聘任高级专业技术职务的，不受事业单位岗位总量、最 高等级和结构比例的限制。完善高层次“人才卡”制度，在创业落户、医疗保 健、出入境签证、车驾管理、人事代理等方面进一步提供优惠政策和便利条件。 探索高层次“人才卡”与“社保卡”衔接机制，并赋予人才更多服务项目，提 高优惠标准。创新多渠道人才服务方式，尝试“互联网+”服务。每年组织高层 次人才健康体检、疗养休假等活动。</li>
			<p>五、健全高效顺畅的党管人才机制</p>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;18.加强绩效考核评价。深化党政领导班子和领导干部人才工作目标责任制 考核，考核结果作为评优评先、干部任用的重要依据，落实人才工作述职评议 制度。对抓人才工作不力、造成重大人才流失的要追究责任。引入第三方评价 机构，对人才政策落实情况和执行效果开展绩效评估，根据评估结果及时优化 调整。建立科学的人才作用发挥评价机制，对作用发挥不明显的人才，降低或取 消相关待遇。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;19.提升人才政治激励。完善党政领导联系高层次人才制度，市、县（市、 区）党政领导班子成员每人至少联系 1 名高层次人才，定期听取人才意见，帮 助解决实际问题。加强对人才的政治引领和政治吸纳，推荐符合条件的人才担 任“两代表一委员”，完善高层次人才列席相关政府会议、担任政府决策咨询专 家等方面的制度。对柔性引进来丽作出重要贡献的专家，授予其“丽水市荣誉 市民”。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;20.保障人才资金投入。建立政府、企业、社会多元化的人才投入保障机制， 根据人才和团队引进、培养、扶持、激励等实际需要，保持人才经费的合理增 长，确保人才政策及时兑现。加强对人才政策执行情况跟踪，强化对人才队伍 和创新团队实绩的考核。加大市级专项资金整合力度，避免重复资助，提高资 金使用效益。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;21.营造良好环境氛围。大力倡导“鼓励创新、敢于创造、宽容失败”的风 尚，激发人才创新创造创业的活力，让人才名利双收。进一步加强政策宣传， 提高政策影响力，做好政策兑现落实工作。加大对人才典型和优秀人才事迹的宣传力度，讲好人才故事，营造引得进、留得住、用得好的良好人才发展环境。 本意见适用范围为市本级及莲都区、丽水经济技术开发区属机关、企事业单位。各县（市）可结合实际，制定实施办法，抓好本意见贯彻落实。市直各 部门要按照任务分工，抓紧制定落实措施，确保各项政策落到实处。原有政策 与本意见不一致的，以本意见为准。同一人才涉及到多项待遇的，按照“从高、 不重复”原则执行。本意见自发布之日起施行，具体工作由市委人才工作领导 小组办公室会同相关职能部门负责解释。</li>
		</ul>
		<p>附件：丽水市高层次人才分类目录（2016 年）</p>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>