<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>丽水市人民政府关于加快发展信息经济的实施意见</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>丽水市人民政府关于加快发展信息经济的实施意见</h3>
		<h4>丽政发〔2016〕55 号</h4>
		<p>各县（市、区）人民政府，市政府直属各单位： </p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;为深入贯彻《浙江省人民政府关于加快发展信息经济的指导意见》（浙政发〔2014〕21 号）等文件精神，加快丽水市信息经济发展，现提出如下实施意见。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第一条 总体目标。到 2020 年底，力争全市信息经济核心产业实现销售收入 250 亿元以上，年均增速达 15%以上，产业结构不断优化。力求在推动新一 代信息技术应用发展产生新业态新模式上，在推进信息化与工业化深度融合方 面实现突破，不断提升地区“两化”深度融合发展水平，“两化”融合指数比 2015 年增长 40%以上。信息基础设施配套逐步完善，网络经济和信息消费逐渐壮大， 信息化应用服务广泛深入，信息化发展指数显著提高，努力把信息经济培育成 为新的经济增长点。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第二条 设立一只信息经济发展投资基金。按照“政府引导、市场运作、分 类管理、防范风险”的原则设立生态经济发展基金信息经济发展投资子基金， 引导社会资本共同参与。基金主要投资电子信息制造业、软件和信息技术服务 业、通信运营及信息基础设施服务业、“互联网+”等信息经济核心产业。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第三条 实施一批信息经济示范试点项目。建立市级信息经济发展项目库， 每年开展一批信息经济示范试点项目建设，重点实施电子信息制造业技术创新（改造）、信息经济关键共性技术开发应用、软件和信息服务业创业创新示范、 传统产业与信息技术融合应用示范、装备制造业信息技术应用示范、新一代信 息技术应用示范、信息经济人才培育示范等多领域项目建设，促进企业成长， 提质增效。项目经过评审验收的，给予 10 万元的资金奖励。</p>
	
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第四条 扶持一批信息经济创业创新孵化平台。大力推进信息经济创业创新 孵化器（平台）建设，增强孵化器创业创新活力。
对入驻市级及以上孵化器市场前景好、经济效益高的信息经济项目，经评审认定后，给予 10 万元一次性补助。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;对大学生（本科及以上，毕业十年内）在丽水落地的信息经济创业创新项目，经评审认定后，给予 5 万元的创业启动资金资助。 
		经认定的孵化器，对其给予入驻项目（创业创新团队或个人）场地租赁费减免的部分，经审核认定后，给予 50%的补贴，年补助额度不超过 50 万元。 经 认定的孵化器，对其给予入驻项目（创业创新团队或个人）提供云计算、云存 储租用服务费用补贴（含无偿提供）的部分，经审核认定后，给予 30%的补助， 年补助额度不超过 50 万元。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第五条 引进和培育一批项目（人才）。鼓励信息经济高端人才带项目落户 丽水，对入选“丽水市绿谷精英和创业创新团队引领计划”的项目按照丽委人〔2012〕5 号文件奖励。对在丽水实际投资 500 万元(除土地出让金、土建、装 修、车辆购置等及其税费外）以上的新办信息经济企业，在其达产后给予 60 万元一次性奖励；对在丽水实际投资不足 500 万元的，但自成立（或入驻丽水）之日起三年内年主营业务收入达到 1 亿元以上、或自主软件业务收入 3000 万元以上的企业，给予 60 万元一次性奖励。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第六条 扶优扶强一批龙头企业。对年主营业务收入首次超过 1 亿元、3 亿 元、5 亿元、10 亿元的企业，分别给予 10 万元、30 万元、50 万元、100 万元 的一次性奖励。被认定为国家规划布局内重点软件企业的，给予 50 万元一次性奖励。被认定为省级、国家级技术中心的信息经济企业，分别给予 30 万元、100 万元的一次性奖励。对获得省业务主管部门、省部级、国家级颁发荣誉称 号的企业，分别给予 10 万元、30 万元、50 万元一次性奖励。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第七条 引导企业提质增效。取得国家计算机信息系统集成资质认证四级、 三级、二级和一级的企业，分别给予 5 万元、10 万元、15 万元和 20 万元奖励； 取得安防资质认证三级、二级、一级的企业，分别给予 5 万元、10 万元和 20 万 元的奖励；通过 CMM/CMMI 认证三级、四级和五级的企业，分别给予 10 万元、 30 万元、50 万元奖励；对已取得以上资质认证等级奖励的企业晋级后给予标准差额奖励。通过 ISO20000（IT 服务管理体系）认证、ISO27001/BS7799（信息 安全管理体系）认证、服务提供商环境安全性（SAS70）、中国信息技术服务标 准（ITSS）等相关国际、国内认证的企业，给予一次性 10 万元的奖励。参加政府及相关职能部门组织或经政府及相关职能部门核准的展会给予展位费用 50% 的补助。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第八条 鼓励企业开展自主软件开发和信息技术应用服务本地化。企业自主 研发的软件产品获得软件著作权登记证书并通过软件产品核定的，给予每个软 件产品 5000 元奖励；首次通过软件企业核定的给予 10 万元奖励；经核定的软 件企业租赁办公用房，自核定当年度起三年内，按实际年租金的 30%给予补助， 每年最高补助金额不超过 20 万元。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;鼓励信息经济企业积极参与我市财政性投资的信息化项目开发和建设，财 政部门应加强政府财政预算控制，鼓励项目建设单位在同等条件下优先使用在 本地有服务机构的信息经济企业提供的产品和服务，提高信息技术产品的服务 水平和响应速度。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第九条 重点打造以绿谷信息产业园为核心的信息经济发展平台。各职能部 门要加大对绿谷信息产业园企业融资、人才培育、税费减免、公共平台建设等 扶持力度，形成孵化培育、产业化推进、扶优扶强、培育上市的“一园两基地” 梯度发展格局，把绿谷信息产业园培育成为我市信息经济的重要增长极。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;第十条 加强组织领导。强化市信息经济工作领导小组对信息经济发展的组 织领导，及时协调解决发展中存在的问题。成立信息经济发展专家咨询委员会， 为我市信息经济发展提供决策、技术和智力支持。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;本意见由市经信委牵头，会同市财政局等有关部门组织实施，由市经信委 负责解释。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;本意见适用于市区账证健全、查账征收的信息经济企业，除第三条信息经 济示范试点项目实施主体不受企业行业类别限制，项目奖励资金由市财政统一 安排外，其他各款所涉及的奖励和补助资金按现行财政体制分担、兑现。企业 可同时享受本意见和省级以上扶持政策。当年度发生重大安全生产责任事故或 严重违法乱纪案件的企业，不予享受本意见的扶持政策。各县（市）人民政府 可参照执行。
本意见自 2016 年 9 月 1 日起实施，《丽水市人民政府关于加快信息产业发 展的若干意见》（丽政发〔2010〕63 号）同时废止。其他原有规定与本意见不一 致的，以本意见为准。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;有关实施细则、专项资金管理办法及目标考核管理办法等由市经信委、财 政局会同相关部门另行制定。</p>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>