<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>丽水绿谷信息产业园项目招商政策</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<!-- <img src="__PUBLIC__/home/dist/images/banner.png"> -->
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>丽水绿谷信息产业园项目招商政策</h3>
		<h4>丽政办发〔2016〕107 号</h4>
		<p>为加强丽水绿谷信息产业园（下称园区）招商工作，加速园区产业集聚发 展，借鉴信息经济发达地区经验，结合我市实际，修订本政策:</p>
		<p>一、绿谷信息产业园主园区</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（一）奖励政策  
				<p>&nbsp;&nbsp;&nbsp;&nbsp;入园企业地方贡献部分，前两年财政全额奖励，第三至第五年给予 50%奖励。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;其中，软件企业实际地方贡献部分，前五年财政全额奖励。</p>
			</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二）电价政策  
			<p>&nbsp;&nbsp;&nbsp;&nbsp;企业用电执行工业用电收费标准，根据用户不同的用电特性，提供个性化的优化用电方案。</p>
			</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三）深入推进商事制度登记改革。<p>&nbsp;&nbsp;&nbsp;&nbsp;
				继续放宽企业住所和经营场所登记条件，积极落实“一址多照”“一照多址”；全面实施“一照一码”登记制度，逐步推行全程电子化登记模式，推进注册登 记便利化。落实“先照后证”改革，严格执行企业登记前置、后置审批目录。（责 任单位：市市场监管局）
			</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三）人才政策 
			<p>&nbsp;&nbsp;&nbsp;&nbsp;1、园区人才享受市委、市政府相关人才政策。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;2、企业从市外引进中级以上专业技术人员以及高技能人才，其本人、配偶 和子女的档案可落实在当地人才交流中心，符合户口登记条件的可在用人所在 地落户，享受本地居民同等待遇。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;3、具有高级职称以上的技术人才或担任副总经理以上的高级管理人才,且 年薪超过 20 万元的，按其上年度已缴纳个人工薪收入所得税的地方贡献部分给予补助，最高补助金额不超过 10 万元/年。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;4、住房保障。具有全日制本科及以上学历的应届毕业生可享受园区人才公寓一年免租政策；符合条件的人才可申请入住园区人才公寓。</p>
			</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（四）租金政策<p>&nbsp;&nbsp;&nbsp;&nbsp;
				主园区国资物业入驻企业前三年租金每年以保证金形式交纳，达到以下条件之一的，市外引进企业全额返还，本地企业分别返还 50%、40%、30%。
			</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;1、当年应缴税收达到 300 元/平方米；</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;2、当年吸引风险投资总额大于 50 万元；</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;3、当年主营业务收入达到 1000 万元；</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;4、当年员工个人所得税总和达到 10 万元；</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;5、租用面积小于 100 平方米的；</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;6、经认定成长性较好的。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;达到上述条件之一的招商引资企业全额返还。园区企业入驻率达到 75%后，由市经信委视情调整保证金返还条件。</p>
			</li>
		</ul>
		<p>二、天宁、中东路孵化基地</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（一）租金政策
			<p>&nbsp;&nbsp;&nbsp;&nbsp;企业入驻前三年，租金每月按 4 元/平方米收取，企业入驻满三年申请继续 租用的，租金按指导价收取。</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二）电价、人才政策 
			<p>&nbsp;&nbsp;&nbsp;&nbsp;按照绿谷信息产业园主园区政策执行。</p></li>
		<p>三、适用范围本政策适用于主营业务符合园区主导产业目录类别的企业，园区主导产业 目录类别由市经信委负责制订。丽水绿谷信息产业园包括“一园两基地”，即： 绿谷信息产业园主园区、天宁孵化基地和中东路孵化基地。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;浙江瓯微软件有限公司、浙江讯唯网络发展有限公司、浙江财源网络科技 有限公司、浙江丽福科技有限公司等四家企业有关财税政策按照丽政函 [2011]31 号、丽办抄[2012]74 号文件执行。</p>
		<p>四、其他</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;本政策自发布之日起执行，有效期五年。</p>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>