<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>丽水市人民政府办公室关于补齐科技创新短板的若干意见</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>丽水市人民政府办公室关于补齐科技创新短板的若干意见</h3>
		<h4>丽政办发〔2016〕99 号</h4>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;各县（市、区）人民政府，市政府直属各单位： 为贯彻落实《浙江省人民政府办公厅关于补齐科技创新短板的若干意见》(浙政办发〔2016〕75 号)和《浙江省人民政府关于印发加快推进“一转四创” 建设“互联网+”世界科技创新高地行动计划的通知》（浙政发〔2016〕24 号）， 着力优化创新驱动发展环境，补齐科技创新短板，经市政府同意，结合我市实 际，现提出如下意见：
		</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;一、支持高水平研发机构建设。对市本级新认定的省级以上重点实验室（工 程技术研究中心）、工程实验室（工程研究中心）、企业技术中心、制造业创新 中心，分别按国家级 300 万元、省级 100 万元给予奖励；对市本级新认定的省级重点企业研究院，按省财政补助金额，给予同比例配套支持；对市本级 2016 年1 月 1 日起新认定的省级企业研究院，给予 20 万元奖励；对中央直属企业、国 内行业龙头企业、知名跨国公司、国家科研机构、国家重点大学在我市建立具 有独立法人资格、符合我市产业发展方向、引进核心技术并配备核心研发团队 的研发机构和研发总部的，采取“一院一策”方式，给予最高 1000 万元支持。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;二、加快科技企业孵化器（众创空间）建设。研究制定市级科技企业孵化 器（众创空间）认定管理办法和科技企业孵化器（众创空间）后补助制度，对 经认定备案的科技企业孵化器（众创空间），按其新增孵化面积（众创空间按其装修和设备投资）、运行和服务投入、运营绩效等给予运营机构补贴和奖励，每 家孵化器、众创空间累计分别不超过 300 万元、120 万元。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;三、加大科技型企业培育力度。对市本级 2016 年 1 月 1 日起新认定的省级高成长科技型中小企业和省级科技型中小企业，分别给予 10 万元和 2 万元奖励。强化金融对企业创新的支持，设立 800 万元天使基金，扩大科技金融合 作贷款规模，对市本级获得科技金融合作贷款的科技型企业给予利率和保费补贴。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;四、建立企业研发后补助制度。对上年研发投入占主营业务收入比例列市 本级前 30 位的规模以上工业企业，按其上一年度可享受研发费用加计扣除所得税优惠政策的企业实际研发投入规模进行排名，给予前 5 名每家 15 万元补助、6—15 名每家 10 万元补助、16—30 名每家 5 万元补助。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;五、深化产学研结合和科技成果转化。对市本级经认定的省、市级重点科 技中介服务机构，按其在丽水区域内的交易业绩，给予每年不超过 10 万元的奖 励；对在“全国技术合同网上登记系统”登记的，市本级企业作为受让方的技 术交易合同，按合同金额的一定比例，给予受让企业每年不超过 5 万元的奖励； 实施工业科技特派员制度，以企业为技术需求为导向，高校、科研院所为依托， 选派高校、科研院校研发能力较强的创新人才到企业开展科技创新和成果转化 服务，并给予工作经费支持。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;六、加大知识产权保护和运用力度。加快制定建设国家知识产权试点城市 的政策意见，完善知识产权管理系统，建立知识产权侵权查处快速反应机制。 对市本级获国家、省专利金奖（或外观专利金奖、专利优秀奖）的专利权人， 按上级实发奖金给予等额配套奖励。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;七、加大科学技术奖励支持力度。对市本级以第一完成单位获得国家级、 省级科技进步奖（自然科学奖、技术发明奖）的，按上级实发奖金给予等额配 套奖励；对市本级以第二完成单位获得国家级、省级科技进步（自然科学奖、 技术发明奖）奖的，按上级实发奖金给予 1:0.5 的配套奖励。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;八、扩大人才科研自主权。推进以项目负责人制为核心的科研组织管理模 式，让领衔科技专家享有更大的技术路线决策权、经费支配权、资源调动权。 改进教学科研人员因公临时出国（境）管理，市属高校和科研院所中直接从事 教学科研任务的人员和担任领导职务的专家学者，不计入本单位和个人年度因 公临时出国（境）批次限量管理范围，出访团组、人次数和经费单独统计。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;九、强化财政科研项目绩效激励。提高科研经费中的间接费用比重，其中 用于人员激励的绩效支出占扣除设备购置费后直接费用的比例，最高可提高到 20%，不纳入所在单位的绩效工资总额。项目经费使用实行授权管理，对劳务费 不设比例限制，对参与项目的研究生、博士后及聘用的研究人员、科研辅助人员等均可按规定标准开支劳务费；允许列支购买中间性试验或生产性试制的设 施、设备。简化项目预算编制、立项、验收和管理流程。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;十、改革科研项目经费管理。市属高校、科研院所及其科研人员面向企业 的科研开发、成果转化的服务活动，实行有别于财政科研项目的管理方式，按 合同制管理；市属高校、科研院所科研人员从中取得的科研劳务收入按规定计 缴个人所得税，不纳入所在单位的绩效工资总额。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;本意见自发布之日起实施，涉及市本级其他政策的，按就优原则，不重复 享受。涉及开发区企业的奖励和补助资金，由市财政、丽水经济技术开发区财 政分别承担 50%。各县（市、区）参照制定政策执行。</p>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>