<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>丽水市人民政府关于进一步降低企业成本减轻企业负担优化发展环境的实施意见</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>丽水市人民政府关于进一步降低企业成本减轻企业负担优化发展环境的实施意见</h3>
		<h4>丽政发〔2016〕27 号</h4>
		<p>各县（市、区）人民政府，市政府直属各单位： </p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;为深入贯彻落实中央和省、市经济工作会议精神，按照供给侧结构性改革的决策部署，全力打好“去产能、去库存、去杠杆、降成本、补短板”攻坚战， 进一步降低企业生产经营成本，减轻企业负担，根据《浙江省人民政府办公厅 关于进一步降低企业成本优化发展环境的若干意见》（浙政办发〔2016〕39 号）， 提出以下实施意见：</p>
		<p>一、切实降低制度性交易成本</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（一）深化行政审批制度改革。 深化“四张清单一张网”改革，建立健全“权力清单”和“责任清单”态调整机制，加快推进政务服务网审批系统建设，提高网上审批事项办件率。 深化“零土地”技改项目审批方式改革。探索以“区域能评、环评+区块能耗、 环境标准”取代项目能评、环评的机制。逐步实行企业独立选址项目高效审批， 非独立选址项目不再审批。推进政务服务前移，加快社保、商事、税务、质监、 供排水等与企业业务密切相关的公共服务下沉到开发区。（责任单位：市审管办、 市编办、市发改委、市经信委、市环保局）</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二）深入推进收费清理改革。 
			<p>&nbsp;&nbsp;&nbsp;&nbsp;全面实施涉企行政事业性收费、政府性基金、政府定价和指导价的涉企经营服务性收费目录清单管理并予公布，凡目录清单之外的涉企收费，一律不得执行。深化行政审批中介服务改革，做好中介服务项目、服务收费、服务机构 “三张清单”管理，完善和推广中介网上竞价服务，力争服务收费平均下降 15%， 加强事中事后监管。行政机关委托开展的评估评审等中介服务，服务费用一律 由行政机关支付并纳入部门预算。（责任单位：市财政局、市发改委〈物价局〉、市审管办）</p>
			</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三）深入推进商事制度登记改革。<p>&nbsp;&nbsp;&nbsp;&nbsp;
				继续放宽企业住所和经营场所登记条件，积极落实“一址多照”“一照多址”；全面实施“一照一码”登记制度，逐步推行全程电子化登记模式，推进注册登 记便利化。落实“先照后证”改革，严格执行企业登记前置、后置审批目录。（责 任单位：市市场监管局）
			</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（四）完善公共资源交易管理。<p>&nbsp;&nbsp;&nbsp;&nbsp;
				建立统一规范的公共资源交易平台，提升平台的服务能力和水平。推广使用公共资源电子交易，减轻投标人（供应商）标书制作等交易成本。完善公共 资源交易信息服务体系，开放招标文件免费在线浏览功能，降低投标人（供应 商）有效信息获得成本。完善投标保证金交纳模式，投标保证金应退尽退、当 场退还，减轻投标人（供应商）资金成本。(责任单位：市招管办、市招标投标 中心)
			</p></li>
		</ul>
		<p>二、切实降低企业税费负担</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（五）全面落实税收优惠政策。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;从 2016年5月1 日起，将“营改增”试点范围扩大到建筑业、房地产业、金融业、生活性服务业，并将所有企业新增不动产所含增值税纳入抵扣范围，确保所有行业税负只减不增。认真落实原已出台的支持科技创新、有效投资、生态经济、外贸企业、民生经济、“四换三名”工程、企业兼并重等税收优惠政策，对符合规定条件的企业享受优惠政策，除法律、法规、规章另有规定外，只需备案，无须税务机关批准。（责任单位：市国税局、市财政局〈地税局〉）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（六）严格落实非居民生活污水处理费标准。<p>&nbsp;&nbsp;&nbsp;&nbsp;
				污水处理费按用水量或排放量计收，对已安装污水排放计量装置的供水用户和自备水源单位，污水处理费按污水排放量计收；对未安装污水排放计量装 置的供水用户和自备水源单位，污水处理费分别按供水的售水量和取用水量计 收。实行污水浓度分档收取污水处理费。（责任单位：市发改委〈物价局〉、市 供排水公司）
			</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（七）降低新型墙材、地方水利建设基金收费标准。<p>
				&nbsp;&nbsp;&nbsp;&nbsp;新型墙体材料专项基金按规定标准的 80%征收。简化新型墙体材料专项基金缴款结算程序。停止向水泥企业征收散装水泥专项资金，将预拌混凝土、预拌 砂浆、水泥预制件列入新型墙体材料目录，纳入新型墙体材料专项基金支持范 围。浙商回归项目新型墙体材料专项基金实行“即征即退”政策。地方水利建 设基金按现有费率的 70%征收。（责任单位：市经信委、市财政局〈地税局〉）
			</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（八）降低检测鉴定收费标准。<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从 2016年3月5 起，将全市生产企业工业产品生产许可证质量检验检测费、 强制检定计量器具检定费按标准降低 30%，执行时间暂定 1 年；对新开办的小微 企业当年产品质量委托检测费用降低 50%收取，首次送检和大学生创业的企业免 收当年产品质量委托检测费用；对餐饮住宿业电梯、安全阀的检验检测费降低 20%收取；免收工业产品生产许可证审批发证费。水利部门的水土保持费、交通 运输部门的船舶及船用产品设施检验费、食品药品监管部门的药品检验费、质 监部门的特种设备制造过程监督检验收费按规定的 80%征收。从 2016 年 5 月 1 日起对气象服务机构提供的防雷检测和电磁环境检测评估服务收费按规定的 60%收取。（责任单位：市质监局、市交通运输局、市市场监管局、市气象局）</p>
			</li>
		</ul>
		<p>三、切实降低企业用工成本</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（九）合理把握最低工资标准调整节奏和力度。<p>&nbsp;&nbsp;&nbsp;&nbsp;在今后一段时间内，最低工资标准调整频率放缓到每两至三年调整一次，并合理控制调整幅度，使最低工资标准增长与劳动生产率提高幅度相适应。（责 任单位：市人力社保局）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十）完善工资保证金制度。<p>&nbsp;&nbsp;&nbsp;&nbsp;适时修改《丽水市建筑业企业农民工工资支付保证金管理规定的通知》（丽政办发〔2013〕3 号），降低建设领域企业工资支付保证金缴存金额和比例，适 度放宽有关保证金减免条件，加大减免力度。（牵头单位：市人力社保局、市建 设局）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十一）落实社保费优惠措施。<p>&nbsp;&nbsp;&nbsp;&nbsp;失业保险费率实行临时性下调措施，从 2016年5月1 日起单位缴纳费率由1.5%降到 1%，执行期限至 2018 年 12 月 31 日。依法参加失业保险并足额缴纳失 业保险费、上年度未裁员或裁员率低于丽水市城镇登记失业率的企业，可申请 稳岗补贴，补贴额度不超过企业及其职工上年度实际缴纳失业保险费总额的 50%，稳岗补贴政策执行到 2020 年底。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;2015 年底职工基本医疗保险基金支付能力达到 12 个月以上的统筹地区，对符合产业转型升级发展方向的企业，由当地政府确定 2016 年下浮职工基本医疗保险缴费比例，下浮幅度相当于企业单位缴费部分 1 个月的额度。 允许符合产业结构调整方向的困难企业暂缓缴纳社会保险费，缓缴期限不超过1 年。（责任单位：市人力社保局、市财政局〈地税局〉）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十二）鼓励企业开展“机器换人”。 <p>&nbsp;&nbsp;&nbsp;&nbsp;组织实施“机器换人”重点示范项目计划、市级 20 个“机器换人”典型示范项目评选和 10 个行业的机器换人分行业试点。对企业购置工业机器人和智能化制造系统的，落实省与市、县（市、区）财政 1:2 配套资金，给予企业设备 购置款 10%—20%的奖励。（责任单位：市经信委、市财政局）</p></li>

		</ul>
		<p>四、切实降低企业用能成本</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十三）落实电价优惠政策。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;严格执行国家工商业销售电价下调政策，从 2016年1月1 日起，一般工商业及其他用电价格每千瓦时降低 4.47 分。2016—2017 年，燃煤（油）锅炉电能 替代改造完成后用电价格，按大工业用电相应电压等级的电度电价执行，免收基本电费。鼓励符合条件的电力用户与发电企业直接交易，自主协商确定电价，全年直接交易电量争取扩大到 6 亿千瓦时。（责任单位：市发改委、市经信委、丽水电业局）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十四）降低企业用气价格。<p>&nbsp;&nbsp;&nbsp;&nbsp;加快推进城市管道天然气建设，通气市、县（市、区）严格执行我省降低非居民用户用气价格措施。所有煤改气用户气价控制在省级门站价格加价每立 方米 0.6 元以内，终端销售价格不得高于每立方米 3.4 元。企业生产经营场所 内可以单独计量的职工集体宿舍、食堂生活用气，可选择执行居民气价；已实 施阶梯气价的，可按当地居民第一档气价的 1.1 倍执行。（责任单位：市发改委〈物价局〉）</p></li>
		</ul>
		<p>五、切实降低企业融资成本</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十五）引导金融机构减费让利。<p>&nbsp;&nbsp;&nbsp;&nbsp;引导金融机构主动减费让利帮扶企业，对重点帮扶企业实行降低贷款利率等措施。鼓励银行业金融机构对优质中小微企业贷款给予利率优惠。规范银行 中介收费项目，严禁在存贷款利率以外附加条件、支付费用，加大对违规收费 行为的查处力度。规范存款及账户招投标定价行为。完善政府对金融机构考评 激励机制，将加大信贷投放、创新惠企金融产品等纳入考评内容。（责任单位： 市金融办、人行丽水市中心支行、丽水银监分局、市财政局）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十六）优化企业融资环境。<p>&nbsp;&nbsp;&nbsp;&nbsp;积极搭建银企对接合作平台。大力推广应收账款、股权、仓单、专利权、商标权和排污权等质押贷款融资创新，以及小微企业“纳税信用贷”业务。支 持金融机构提高信用贷款比例，推广“无还款续贷”“年审制”“转贷通”等业 务。完善小微企业帮扶基金、“助保贷”平台、企业应急转贷基金政策。加快完 善政策性融资担保体系。发展设备融资租赁。加强银保合作，扩大小额贷款保 证保险。（责任单位：市金融办、人行丽水市中心支行、丽水银监分局、市财政 局、市经信委）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十七）提高企业直接融资比重。<p>&nbsp;&nbsp;&nbsp;&nbsp;鼓励企业对接多层次资本市场，大力推动企业股改上市或到“新三板”、浙江股权交易中心挂牌及融资。扩大股权、债券等直接融资规模，鼓励符合条件 的企业发行新公司债、企业债、银行间市场债务融资工具以及开展定向增发、 资产证券化等拓宽融资渠道，降低财务成本。加快建立各类政府性产业基金， 推动各类私募股权投资基金的引进和组建。（责任单位：市金融办、市财政局、 人行丽水市中心支行）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十八）防范化解企业“两链”风险。 <p>&nbsp;&nbsp;&nbsp;&nbsp;各级政府要发挥综合协调作用，科学评估涉险企业的类别，实行风险企业分类处置“名单制”管理，采取“一企一策”予以帮扶解困，强化市县联动协 调处置机制。支持企业兼并重组，加大僵尸企业处置力度，发挥市场功能优胜 劣汰。引导金融机构对市场前景好、诚信经营，但暂时有困难的企业不断贷、 不抽贷，如涉及抵押物缩水的，尽可能维持抵押物不变、维持授信额度不变、 维持贷款额度不变。推动银行用足用好现有不良资产核销政策，做到应核尽核。
（责任单位：市经信委、市金融办、市企发办、人行丽水市中心支行、丽水银 监分局）</p></li>
		</ul>
		<p>六、切实降低企业用地成本</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十九）落实差别化城镇土地使用税减免政策。<p>&nbsp;&nbsp;&nbsp;&nbsp;对不同行业纳税人主要依据“亩产税收”等指标，实行差别化的城镇土地使用税减免政策。其中，对亩产税收达到行业平均 200%、150%、100%以上的， 分别给予应缴纳城镇土地使用税 100%、75%、50%的减免。对新建国家鼓励和扶 持产业项目的企业、占地广的深加工农业龙头企业，可在一定期限内作为“确 属发展前景较好，但目前亩产税收贡献不大”的纳税人，享受城镇土地使用税 差别化减免优惠政策。（责任单位：市财政局〈地税局〉）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十）降低企业入园落地用地门槛。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;凡设定入园项目最低用地面积门槛的开发区（工业园区），按现有标准降低50%执行，对入园项目重点审核“亩均产出”“亩均税收”等指标。在符合国家 法律法规和军事航空等要求前提下，工业企业厂区范围内容积率，厂房高度不 再设定上限指标限制，绿地率不再设定下限指标限制。（责任单位：市建设局， 各县〈市、区〉政府，丽水经济技术开发区）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十一）下调土地出让竞买保证金和履约保证金。<p>&nbsp;&nbsp;&nbsp;&nbsp;根据土地规模、土地估价结果、土地市场情况等，适当下调工业用地出让竞买保证金，合理确定工业用地出让金缴纳期限。逐步降低工业项目开工、竣 工和税收履约保证金，简化退回项目履约保证金手续。（责任单位：各市，县〈市、 区〉政府，丽水经济技术开发区）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十二）实施差别化的土地出让方式。<p>&nbsp;&nbsp;&nbsp;&nbsp;鼓励盘活低效闲置用地，二次开发用地视同新增出让土地。实施差别化用地管理机制，对优先供地类、保障供地类、限制供地类、禁止供地类项目实施 差别化的土地出让方式、差别化用地价格等。积极推行工业用地弹性年期出让， 鼓励各地采用出让年限小于 50 年、长期租赁、租让结合、先租后让等方式供地。（责任单位：市国土局）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十三）鼓励企业集约用地。<p>&nbsp;&nbsp;&nbsp;&nbsp;符合规划和安全生产的前提下，鼓励原有工业企业通过加层、老厂改造、内部整理等途径提高原有土地利用率和容积率。对在现有厂区内翻建生产性用 房或加层建造多层厂房用于生产的，不再增收土地价款。容积率超过合同约定容积率以上部分建筑面积，通过批准并办理相关手续，每新增 667 平方米生产 性用房和生产性管理用房建筑面积折算为节约一亩土地（以建设部门核定的竣 工面积为依据），并给企业一定奖励。（责任单位：市国土局、市经信委）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十四）支持标准厂房建设。<p>&nbsp;&nbsp;&nbsp;&nbsp;将标准厂房建设用地纳入各地年度土地供应计划。鼓励利用“三改一拆”拆改土地、城镇低效用地建设标准厂房，2016 年新建标准厂房 16 万平方米。鼓 励标准厂房微利出租或按土地出让合同约定分割转让。（责任单位：市经信委、 市国土局、市建设局、市财政局〈地税局〉）</p></li>
		</ul>
		<p>七、切实优化政府服务</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十五）畅通企业诉求协调解决机制。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp; 围绕破解企业发展难题，开展“精准帮扶企业促发展”行动，按照集中攻坚、分类施策原则、分级办理、长短结合的原则，着力开展走访企业“五必到”、 企业困难“五必帮”、长效机制“五必建”、绩效考核“五必评”活动，切实解 决一批企业的实际困难。建立健全市长热线、市长信箱、96871 热线等企业问题 反映、协调、解决的常态化工作机制。（责任单位：市经信委）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十六）优化供电服务措施。<p>&nbsp;&nbsp;&nbsp;&nbsp;全面实施配网停电计划“五个零时差”管理。建立专属客户经理服务制度，为开发区重点企业开展“一对一”管家式服务。企业厂区内具备独立产权的、 可独立计量的集体宿舍楼，可申请执行居民合表电价；符合单独立户条件的企 业承租户可申请单独立户。对公用高压架空线路供电的（临时用电除外），由供 电企业延伸投资至用户厂界外或配电室前的第一断路器或第一支持物，并由供 电企业负责搭接通电。（责任单位：丽水电业局）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十七）优化出口退税办理。<p>&nbsp;&nbsp;&nbsp;&nbsp;将生产企业的出口退（免）税审批权限全部下放至县（市、区），外贸企业的出口退税审批权限已下放莲都区和青田县国税局。放宽外贸企业申报限制， 外贸企业可在出口退税申报截止之日前的任何一个工作日内办理出口退税申报， 每月可多批次申报退税。加快出口退税进度，对出口企业申报的符合规定的退（免）税，在 20 个工作日内办结相关退（免）税手续；对不符合规定的，及时 将具体内容及处理意见一次性书面告知出口企业。（责任单位：市国税局）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十八）优化税收征管服务。<p>&nbsp;&nbsp;&nbsp;&nbsp;持续深入开展“便民办税春风行动”，推进国、地税服务深度融合，互设自助办税区、互设办税窗口，共建办税服务厅，实现“前台一家受理、后台分别 处理、限时办结反馈”的服务模式。持续优化各项服务举措，从 2016年3月1日起，取消 A 级纳税人增值税发票认证；从 2016年4月1 日起，增值税小规模纳税人和小型微利企业实行按季申报缴纳增值税、消费税以及预缴企业所得税，不再需要按月申报；开展优质税源培育工作，将优势资源集中向优质税源倾斜。（责任单位：市国税局、市财政局〈地税局〉）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十九）优化跨境电子商务服务。<p>&nbsp;&nbsp;&nbsp;&nbsp;鼓励企业直接与海外客商进行交易，积极培育中小企业外贸代理平台。简化企业在海外投资建厂自用产品和在国外设立批发展示中心、商品市场、专卖 店、海外仓产品的相关出境程序，切实降低跨境电商企业结汇、退税、报关等 相关成本。推动我市跨境电商孵化园（创业中心）建设；支持青田侨乡进口商 品城深化电子商务应用，打造在全国范围内有一定知名度的进口商品网上销售 平台；积极利用华侨资源，鼓励境外华侨改造传统仓储体系，发展跨境电子商 务海外公共仓。（责任单位：市商务局、市检验检疫局、市国税局、丽水海关、 人行丽水市中心支行）
			</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三十）优化企业创业创新服务。 <p>&nbsp;&nbsp;&nbsp;&nbsp;落实高校、科研院所资源开放共享，推进科学仪器设备、科技文献、科学数据等科技基础条件平台，以及重点实验室、工程实验室和工程（技术）研究 中心、企业技术中心等研发检测基地向企业全面开放，推动大众创业、万众创 新。大力推广应用科技创新券，2016 年，全市发放使用科技创新券 600 万元以 上。通过政府帮助企业购买科技服务的方式，降低企业科技创新成本，激发中 小企业创新活力。（责任单位：市科技局）</p></li>
		</ul>
		<p>八、保障措施</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三十一）加强组织领导。<p>&nbsp;&nbsp;&nbsp;&nbsp;市减轻企业负担工作领导小组全面统筹协调全市帮助企业降低成本减轻负担工作，领导小组办公室（设在市经信委）牵头负责具体工作的协调、督查、 考核。各县（市、区）政府也要成立相应的领导机构，负责对企业降成本减负担工作的组织和协调，并制定出台相关配套政策措施。（责任单位：市经信委， 各县〈市、区〉政府）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三十二）加强督促检查。<p>&nbsp;&nbsp;&nbsp;&nbsp;以帮助企业降低成本减轻负担优化发展环境为重点，定期开展督查检查，对政策执行不力、工作落实不到位的单位通报批评，并限期整改。加大对各种 乱收费行为的查处曝光力度，坚决查处乱收费、乱摊派行为。各县（市、区） 政府，各责任单位要及时、足额、创新落实本意见，并于 6 月、12 月份报送半 年度及全年度政策落实情况。（责任单位：市政府督查室、市监察局、市经信委）</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三十三）加强宣传引导。 <p>&nbsp;&nbsp;&nbsp;&nbsp;经信、财政（地税）、国税、商务等部门要进一步梳理、汇编现行涉企扶持政策，各级宣传部门和新闻媒体要密切配合，广泛宣传各项惠企措施，提高涉 企政策的知晓率，营造全社会关心支持企业降本减负的舆论氛围。（责任单位： 市委宣传部、各涉企部门）</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;本意见在市、县（市、区）统一执行，自发布之日起施行，文中条款涉及 有执行期限、范围的从其规定，涉及项目资金的按现行财政体制分别兑付。本 意见实施过程中，国家、省有新政策出台，按国家、省政策执行。</p>
			</li>
		</ul>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>