<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>信息产业园重大项目入园决策评价工作 规程的通知</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>信息产业园重大项目入园决策评价工作 规程的通知</h3>
		<h4>丽政办发〔2016〕 119 号</h4>
		<p>莲都区人民政府，市级有关单位：</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;为提高丽水绿谷信息产业园入园项目质量，规范决策流程，促进我市信息产业结构不断优化，产业布局更加合理，发展水平不断提高，特制定本工作规 程。
		</p>
		<p>一、入园决策评价工作组织机构</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;市政府成立丽水绿谷信息产业园重大项目入园决策评价工丽水市人民政府 办公室文件作领导小组（下称领导小组），由市政府分管领导任组长，市政府分 管秘书长、市经信委主任任副组长，市发改委、市财政局、市经合办、市金融 办、市科技局、市人力社保局、市审管办分管领导及有关专家为成员，领导小 组负责绿谷信息产业园重大项目入园决策评价工作，领导小组下设办公室，办 公室设在市经信委，承担领导小组日常工作。</p>
		<p>二、入园决策评价工作范围</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;丽水绿谷信息产业园包括“一园两基地”，即绿谷信息产业园主园区、天宁 孵化基地、中东路孵化基地。入园决策评价范围包括绿谷信息产业园主园区国 资物业部分、天宁孵化基地、中东路孵化基地。申请使用面积 600 平方米以上、 要求一企一策或申请土地自建办公用房等重大项目入园，由领导小组负责项目 入园决策评价工作；申请使用面积 600 平方米以下的项目由市经信委组织入园 决策评价工作，入园决策评价工作程序完成后报领导小组审核实施。</p>
		<p>三、入园决策评价工作职责</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（一）审查产业定位。审查入园项目是否符合丽水市绿谷信息产业园总体 规划及“绿谷智慧小镇”园区定位。主导产业定位为软件和信息技术服务业， 重点行业包括：物联网与智能装备软件研发及应用服务、“互联网+”新业态和智慧养生服务等。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（二）科学布局项目。根据国家、省、市信息经济发展战略及《丽水市信 息经济发展规划 2016-2020 年》相关规定，合理布局项目，注重项目协调和配 套，促进产业集聚发展。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（三）严把项目质量关。对项目的必要性、可行性、发展前景、经济效益、 社会效益进行综合评价，在安全风险、法律风险等方面存在疑难问题的项目， 先组织有关专家进行论证，明确疑难问题的解决方案，再进入入园决策评价程 序。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（四）落实协调机制。通过入园决策评价服务工作程序，落实服务协调机 制，协调解决项目入园过程中的系列问题，协调解决系列配套服务问题，提高 办事质量和效率。</p>
		<p>四、入园决策评价工作程序</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（一）预评价。根据园区产业定位，由领导小组办公室组织开展意向入园 项目材料初审、实地考察、项目路演等工作，由领导小组成员单位相关业务处 室召开预评价会议，作出预评价意见。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（二）综合评价确定。由领导小组组长或其委托的副组长主持召开重大项 目入园决策评价专题会议，对预评价项目进行综合评价确定，形成《丽水绿谷 信息产业园重大项目入园决策评价会议纪要》。领导小组会议根据需要定期或不 定期召开。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（三）签订项目入园协议。由丽水绿谷信息实业有限公司根据《丽水绿谷 信息产业园重大项目入园决策评价会议纪要》与项目主体签订入园协议，并做 好后续管理与服务工作。经入园决策评价的重大项目，凭《丽水绿谷信息产业 园重大项目入园决策评价会议纪要》，各部门和行政服务中心窗口开通行政服务 绿色通道，提供优质审批代办服务。</p>
		<p>五、附则</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;本政策自发布之日起执行。</p>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>