<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>鼓励股权投资业发展的若干意见</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>鼓励股权投资业发展的若干意见</h3>
		<h4>丽政发〔2016〕64 号</h4>
		<h3>第一章  总  则</h3>
		<p>第一条 为了激活社会资本，鼓励股权投资，推动企业股改挂牌上市及兼 并重组，支持大众创业、万众创新，促进经济转型升级发展，根据《国务院关 于进一步优化企业兼并重组市场环境的意见》（国发〔2014〕14 号）、《浙江省 人民政府办公厅关于优化市场环境促进企业兼并重组的若干意见》（浙政办发〔2014〕145 号）、《浙江省人民政府关于进一步加强我省企业上市工作的意见》（浙政发〔2008〕35 号）等文件精神，特制定本意见。 第二条 本意见适用范围：</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（一）注册地在丽水市级的企业及其自然人股东；</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（二）丽水市级范围内，经辖区市场监管部门登记或在中国 证券基金业协会备案登记的股权投资（管理）企业、自然人股东、合伙人、出资人；</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（三）在丽水市级减持或解禁公司限售股的自然人股东。</p>
		<h3>第二章  奖励政策</h3>
		<p>第三条 奖励政策：</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（一）股权投资（管理）企业的股权转让行为缴纳增值税的，按其股权转 让产生的净收益 1.7%给予奖励；</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（二）股权投资（管理）法人企业自盈利年度起，按其当年利润总额扣除 可调整部分后余额 5.6%给予奖励；</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（三）股权投资（管理）非法人企业（合伙企业、个人独资企业），自盈利年度起，合伙人或出资人为自然人，取得的投资收益或股权转让收益部分能划 分清楚，且投资收益或股权转让净收益超过 10 万元以上（含）的，按其取得的 投资或股权转让净收益 7.8%给予奖励；</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（四）自然人股东涉及公司限售股减持或解禁，按其股权转让净收益 4.5% 给予奖励；</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（五）上市公司及其全资子公司、“新三板”挂牌公司或国内（外）500 强 企业对市级企业进行兼并重组过程中，涉及股权转让行为缴纳个人所得税的， 按其相关净收益 4.5%给予奖励；</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;（六）下列情况，按其相关净收益 2.9%给予奖励：</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;1.有限责任公司在股改过程中涉及到净资产折股缴纳个人所得税；</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;2.上市公司、“新三板”挂牌公司用资本公积、未分配利润和盈余公积转增 股本缴纳个人所得税。</li>
		</ul>
		<h3>第三章  奖励资金申报及兑现</h3>
		<p>第四条 资金申报材料：</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（一）鼓励股权投资业奖励资金申请表（详见附件）；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（二）中国证券基金业协会备案登记证明。股权投资企业实行委托管理的， 应提交委托管理证明；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（三）营业执照复印件和税务登记证复印件，若为自然人股东或出资人则 提供身份证复印件；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（四）属地税务部门出具的年度分税种纳税证明或相关单项业务纳税证明；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（五）合法合规经营的声明和所提供材料真实性的承诺函；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（六）自然人股东涉及公司限售股减持或解禁，需提交属地税务部门出具 的相关完税证明。若为解禁的，还需提供代扣代缴所得税企业的相关情况证明；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（七）企业在股改过程中涉及到净资产折股的，需提交经主管金融办确认 的净资产折股情况说明；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（八）上市公司、“新三板”挂牌公司用资本公积、未分配利润和盈余公积 转增股本的，需提交经主管金融办确认的用资本公积、未分配利润和盈余公积转增股本的情况说明；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（九）上市公司、“新三板”挂牌公司或国内（外）500 强企业对市级企业 进行兼并重组的，以被兼并重组的市级企业作为申报主体，需提交经主管金融 办确认的相关情况说明；</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（十）其他需提供的相关资料。 第五条 申报兑现流程：</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（1）奖励政策中的第四款随时受理，符合奖励条件的个人在相关税费全 部缴纳完毕后，向辖区金融办提出申请填报相关申请资料。
其他奖励政策每年兑付一次，符合奖励条件的企业或个人，于每年的 6 月 份向辖区金融办提出申请，填报相关申请资料。辖区金融办在收到申报企业或 个人提交的申请材料后，进行审核，并将审核后的申请材料及审核意见送辖区 财政局复审，辖区财政局将复审后的意见报同级人民政府审批后兑付相应的奖 励资金。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（2）获得奖励资金的企业或个人应及时提供收款单位（个人）名称、开 户银行账号及开户行名称交辖区金融办，由辖区金融办统一提交给财政部门。</li>
		</ul>
		<h3>第四章  奖励资金的监管及绩效</h3>
		<p>第六条 金融办、市场监管局、发改委、公安局、财政（地税）局等部门 按照职责依法对股权投资类企业进行监督指导，依法打击利用股权投资名义开 展非法集资活动或者其他违法违规活动。
		市财政局负责资金监管。各辖区财政局负责对本辖区的奖励资金进行监督 管理及绩效评价。</p>
		<p>第七条 任何企业、个人不得以任何理由弄虚作假骗取资金。除个人获得 的财政奖励外，任何企业不得将获得的财政奖励资金用于发放个人奖励。如有 发现按《中华人民共和国预算法》《财政违法行为处罚处分条例》等法律法规有关规定进行处理处罚，并纳 入市直财政专项资金信用负面清单管理。涉嫌犯罪的，移送司法机关依法追究 刑事责任。</p>
		<h3>第五章  附  则</h3>
		<p>第八条 本意见中市级企业包括市直企业、开发区企业、莲都区企业。所 涉及的奖励资金按现行财政体制分别承担。</p>
		<P>各县（市）可参照执行。</P>
		<p>第九条 同一事项符合本意见中多条奖励条款的，不得重复申报，由申请 人自行选择一款申报。已享受本意见奖励条款的事项不得重复享受市政府其他 政策。</p>
		<p>第十条 如遇法律、法规和上级政策另有规定的，从其规定。</p>
		<p>第十一条 本意见自发文之日起施行，有效期三年。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;2012 年 11 月 26 日 发布的《丽水市人民政府关于印发鼓励支持股权投资类企业发展若干规定的通 知》（丽政发（2012）61 号）同时废止。</p>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>