<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>关于深化实施丽水市“绿谷精英 550 引才计划”的意见</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>关于深化实施丽水市“绿谷精英 550 引才计划”的意见</h3>
		<h4>丽委发〔2016〕38 号</h4>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;为全面实施人才强市战略和创新驱动发展战略，大力引进丽水经济社会发 展急需的海内外高层次创业创新人才，加快推进“绿色发展、科学赶超、生态 惠民”，现就深化实施丽水市“绿
谷精英 550 引才计划”提出如下意见：</p>
		<p>一、主要目标</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;围绕丽水市经济社会发展需求，突出产业化成熟项目优先、重点产业配套 项目优先、本土企业引进或合作项目优先、风投进入项目优先的导向，力争在 5年内，从海内外引进 50 名左右符合丽水市产业发展战略布局，有望突破核心技 术、提升产业水平、引领产业发展，产生显著经济和社会效益的高层次创业创 新人才。</p>
		<p>二、重点领域</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;主要为高端装备制造、节能环保、生物医药、新材料、信息经济、绿色能 源、健康、文化、生态精品农业等产业，以及我市重点发展的生态休闲旅游产 业，羽绒制品、日用化工、皮革等传统产业转型升级紧缺急需的高端人才。</p>
		<p>三、对象条件</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;分为创业类人才和创新类人才两大类，年龄一般不超过 55 周岁，引进后每年在丽水市工作不少于 9 个月。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（一）创业类人才。指来我市注册创（领）办科技型企业的海内外高层次 人才。应具备以下条件：</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;1.一般应取得硕士以上学位；</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;2.具有创业经验或曾在国内外知名企业担任过中、高级管理职务，熟悉相 关领域和规则；</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;3.拥有自主知识产权和发明专利，或带有成熟的创业项目和计划，且其技术成果国内领先，符合我市产业发展要求，具有较好的市场前景并能实施产业 化；</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;4.申报人须为所在企业主要创办人,一般为第一大股东，自有资金（含技术 入股）或跟进的风险投资占创业投资的 30%以上，且本人投入企业的实收资金在 100 万元以上。</li>
		</ul>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;（二）创新类人才。指到我市企业从事技术创新、成果转化的海内外高层 次人才。应具备以下条件：</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;1.一般应取得博士学位；</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;2.一般应在国内外知名高校、科研院所担任副教授及以上或相当职务的专 家学者，或在知名企业、机构担任中高级领导职务 3 年以上的专业技术人才；</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;3.具备较高创新能力，研发水平和成果为同行公认，达到国际国内领先水平。<p>&nbsp;&nbsp;&nbsp;&nbsp;对上述创业创新人才项目，业绩突出、具有特殊专长或为我市紧缺急需的 其他创业创新人才，可适当放宽申报条件。</p></li>
			<p>四、评定方式</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;分评审认定和直接认定两种方式。</p>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（一）评审认定。由常规评审和特殊评审组成。常规评审由申报受理、资 格审查、书面评审、答辩评审、定级发文等环节组成。特殊评审主要面向特优 项目、投资项目和大赛项目，通过进行专题评审、直接进入答辩等方式简化评 审程序。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp; （二）直接认定。满足以下条件之一的直接认定为“绿谷精英 550 引才计 划”A 类创业创新人才项目：企业获得创投机构投资且投资额达 800 万元及以上、 投资期 2 年以上；人才新入选国家“千人计划”“万人计划”；作为主申请人领衔的创业团队新入选浙江省领军型创新创业团队。满足以下条件之一的直接认 定为“绿谷精英 550 引才计划”B 类创业创新人才项目：企业获得创投机构投资 且投资额达 400 万元（含）至 800 万元、投资期 2 年以上；人才新入选浙江省 “千人计划”“万人计划”。</li>
		</ul>
		<p>五、支持政策和相关待遇</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（一）提供资金资助。对入选创业类“绿谷精英 550 引才计划”A 类、B 类、C 类的人才项目，分别给予 500 万元、300 万元、150 万元资助。资助资金分三 期拨付，项目启动后给予 40%，拨付前须满足“企业支出 15 万元人民币以上， 且财务制度健全”的条件。第二、三期各 30%，拨付前须经过项目评估。对入选 创新类“绿谷精英 550 引才计划”A 类、B 类、C 类的人才项目，按引进人才 计税年薪的 50%给予企业引才薪酬补助，分别每年最高不超过 80 万元、50 万元、 30 万元，补助时间一般为 3 年。3 年期满后，作用发挥较大且经济和社会效益显著的，延长补助 2 年。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二）安排创业场所。对“绿谷精英 550 引才计划”创业人才创办的企业，根据企业实际需要，提供 100 至 300 平方米的 3 年免租金的工作场所或给予相 应租金补贴。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三）落实财政奖励。对“绿谷精英 550 引才计划”创业人才创（领）办的企业，自设立或引进年度起 3 年内使用银行贷款的,按照银行同期贷款基准利率给予项目最高 500 万元银行贷款额的利息补贴。创业人才企业投产后（首笔缴纳增值税入库），年地方财政贡献部分首次超过 100 万元的，给予 100 万元的 一次性奖励。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（四）给予融资支持。发挥浙江丽水生态经济产业基金、丽水市浙商企业 创业创新产业引导基金作用，鼓励和引导创业投资机构重点投资初创期、成长 期的“绿谷精英 550 引才计划”人才创业企业。对具备资格条件的投资机构通过“以投代招”方式引进海内外高层次人才并入选“绿谷精英 550 引才计划”，且该机构首次到位投资额不低于 200 万元的，给予投资机构管理团队首次到位 投资额的 3%、最高不超过 100 万元的一次性奖励。鼓励人才企业通过公开上 市、股权转让等方式融资，对成功上市或取得阶段性上市成效的企业，按照市 政府扶持企业上市奖励政策，分阶段、分层次给予奖励。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（五）完善创业导师制度。通过购买服务方式，选聘一批优秀企业家、天 使投资人、专业学者担任创业导师，为人才企业提供可持续的专业指导和发展 资源。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（六）其他政策待遇。入选“绿谷精英 550 引才计划”的人才可按现行政 策在浙江省生态发展研究院保留其事业身份,人才落户后可享受购房补助、子女 入学、医疗保健、签证办理、户籍及居留、人事代理、车驾管理服务等方面的优惠政策和特殊照顾。人才子女在义务教育段可按人才意愿安排就读学校 1 次， 高中段的可转入相应学校就读。</li>
		</ul>
		<p>六、工作机制</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（一）组织领导机制。“绿谷精英 550 引才计划”在市委人才工作领导小组的领导下，由市委组织部牵头组织实施。“绿谷精英 550 引才计划”人才所在 地党委政府要加强组织领导，落实相应的支持政策，强化人才的落户服务和日 常管理，营造良好的创业创新环境。市本级设立“绿谷精英 550 引才计划”专 项办，专项办设在市科技局，成员单位包括市委组织部、市科技局、市财政局、 市经信委、市人力社保局等职能部门，各成员单位要配合做好申报评审、经费 安排、服务管理等相关工作。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp; （二）资金管理机制。由市委人才办出台资助资金拨付管理细则，实行分 阶段划拨与按绩效划拨相结合的资金管理机制，并做好资助资金拨付监管、绩 效评价等工作，充分发挥资助资金使用效益。“绿谷精英 550 引才计划”所需经费纳入各级财政人才专项资金管理。莲都区、丽水经济技术开发区由市级财 政和引进区财政各承担 50%，县（市）由各县（市）财政承担。对企业提前或超 额完成既定阶段指标的，允许各阶段资助资金合并拨付；对挂牌上市或主营业 务收入（关联交易除外）累计突破 1000 万元的人才项目，允许提前全额拨付 资助资金。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三）项目升级机制。对“绿谷精英 550 引才计划”B 类、C 类人才企业落 户 3 年内成长较快，且主营业务年收入额或风险投资额超过 500 万元的，可申 请项目升一级。进行项目升级的，按“从高、从优、不重复”的原则享受“绿 谷精英 550 引才计划”相应政策。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（四）降级清退机制。原则上，未落户的“绿谷精英 550 引才计划”创业人才，至发文公布之日起 3 个月内办妥相关落户手续;未及时办理落户手续的， 应作出合理说明并申请延期，6 个月内仍未落户且未作情况说明的视为放弃入 选资格。对“绿谷精英 550 引才计划”创业创新人才，资助资金拨付前，须由 第三方机构评估，评估不合格的，暂停经费资助并责令整改，整改后仍不符合 要求的，视情降级资助或取消“绿谷精英 550 引才计划”创业创新人才资格，
			收回结余资助资金；对作用发挥不明显，连续 9 个月以上未实际运作或企业实际员工数少于 2 人的，由项目所在地管理部门提出降级或清退要求；对存在品行不端、弄虚作假、违法乱纪等行为的，一经核实，直接取消“绿谷精英 550 引才计划”创业创新人才资格，收回全部资助资金。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（五）考核问责机制。市专项办牵头相关单位，每年开展资助资金管理使 用情况检查，并对资助资金使用情况开展绩效评价。市财政局、市审计局有权 对资助资金使用情况进行绩效评价和审计，确保资助资金规范使用。项目申报 主管单位要定期了解受资助企业运行、研发等情况，及时发现和指出企业资助 资金管理使用存在的问题。对抓“绿谷精英 550 引才计划”工作不力，造成人 才流失、资金流失的进行责任追究。</li>
			</ul>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;本意见自印发之日起实施，原有政策与本意见不一致的，以本意见为准。 本意见与我市其他政策有重复、交叉的，按照“从优、从高、不重复”原则执 行。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;本意见具体工作由市委人才工作领导小组办公室会同相关部门负责解释。</p>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>