<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>丽水市人民政府关于加快市区生态工业发展的若干意见</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	h3,h4 {
		text-align: center;
	}
	h4 {
		font-weight: 400;
		color: #666;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/banner.png">
	</div>

	<div class="content">
		<h3>丽水市人民政府关于加快市区生态工业发展的若干意见</h3>
		<h4>丽政发〔2016〕79 号</h4>
		<p>莲都区人民政府，市政府直属各单位：</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;为深入实施“绿水青山就是金山银山”的战略指导思想，牢牢把握“绿色发展、科学赶超、生态惠民”发展主线，加快培育“绿色环保、高效低耗、高 端低碳”的生态工业体系，特制定本意见：</p>
		<p>一、鼓励企业做大做强</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（一）支持企业规模上台阶。对年实缴税金 1000 万元以上（含）企业，按 当年销售产值完成情况分档给予奖励，首次超 3 亿元、5 亿元、8 亿元的分别给 予销售产值 0.5‰奖励，首次超 10 亿元、20 亿元的分别给予销售产值 1‰奖励， 首次超过 30 亿元、50 亿元、100 亿元、200 亿元的，分别给予 300 万元奖励。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二）支持总部经济发展。鼓励企业通过兼并、收购、联合、参股等多种 形式开展兼并重组及投资合作，组建企业集团，发展总部经济。符合本意见第（二十二）条认定条件，经认定为“总部型企业”的，自认定年度起 5 年内， 当年地方财政贡献超过考核基数部分，给予企业奖励，奖励金额不超过企业当 年地方财政贡献的 50%。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;“总部型企业”实际发生符合税前加计扣除条件的新技术、新产品、新工 艺研究开发费用，经有资质的中介机构专项审计确认后，给予该研发费用 25% 的补助。研发费用按当年销售收入的 4%以内控制。补助总额会同前款不超过当年地方财政贡献的 70%。优先安排年销售产值 10 亿元以上且实缴税金 3000 万元 以上企业建设总部大楼。经企业申请并经批准的总部用地地块，可采取挂牌方 式公开出让。</p>
			</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（三）支持企业兼并重组。企业之间通过合并、分立、出售、置换等方式 实现资产重组的，按国家、省有关税费优惠规定免征（或不征）相关税费。涉及指标类、许可类、产权类权力继承，符合安全、环保要求的，可按更名方式 办理或划转。投资额 1000 万元以上（含），经认定属于兼并、收购涉危涉困企业（不含司法拍卖）且实现有效盘活的，按投资额的 1%给予奖励，最高奖励 300 万元。</li>
		</ul>
		<p>二、鼓励企业技术改造</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（四）支持企业装备技术升级。经核准（备案）的技术、设备、软件投入 100 万元以上（含）的技术改造项目，给予技术、设备、软件实际投资额 6%的补助。单个项目最高补助 300 万元。 属于下列情形的按就高原则补助：对高新技术产业、战略性新兴产业以及符合我市产业培育鼓励发展导向目 录的，或被列为省、市技改重点项目计划的，按 8%的比例补助。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;对“三名”企业、国家高新技术企业、市级优质财源培育企业实施的技术 改造项目，按 8%的比例补助。</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（五）支持企业“机器换人”。对企业技术改造中购置工业机器人和智能化制造系统的（工业机器人按 GB/T12643—2013 标准定义执行），按省与市（区） 1：2 的比例，给予设备购置款 10%—20%奖励。本项奖励为独立的鼓励企业加强 设备投资的政策。对承担省级“机器换人”分行业试点的项目，另行制定奖补 办法。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（六）支持企业实施“零土地”技术改造。经批准实施的加层或翻建改建 扩建扩大生产用房的技术改造项目，不再增收土地价款；容积率达到当时执行 的《浙江省工业建设项目用地控制指标》相关行业标准以上的，通过验收后给 予新增生产性用房每平方米 30 元补助，最高限额 100 万元。</li>
		</ul>
		<p>三、鼓励企业创新发展</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（七）支持企业创新能力提升。被新认定为市级企业技术中心、制造业创 新中心的给予 5 万元奖励。被新认定为省级高新技术企业研发中心的，给予 10 万元奖励。获得省级以上各类创新企业、示范企业、成长型企业等荣誉称号的， 分别给予国家级 10 万元、省级 5 万元奖励。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（八）支持企业新产品开发。被认定为装备制造业重点领域国内、省内首 台套的，分别给予单个项目 50 万元、20 万元奖励。通过验收（鉴定）并实现产业化的省级以上新产品（新技术）开发项目， 给予企业每个项目国家级 10 万元、省级 5 万元奖励；对评为省优秀新产品（新技术）的再给予 10 万元奖励。新产品开发项目同产品不同型号只奖励一次。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（九）支持“三名”企业培育试点。对列入省级“三名”培育试点企业， 按照省补资金给予配套支持。对列入市级“三名”培育试点企业，给予每家 10 万元的补助。</li>
		</ul>
		<p>四、鼓励企业“两化”融合</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十）支持“两化”深度融合试点。鼓励企业开展国家贯彻“两化”深度 融合管理体系试点建设，对列入国家级、省级“两化”深度融合示范试点或贯 彻“两化”深度融合管理体系试点企业、项目等，一次性给予国家级 50 万元、省级 30 万元奖励。对列入市“两化”深度融合重点项目（单个项目信息化投入 30 万元以上）， 按项目实际信息化投入的 30%给予补助，单个项目最高补助金额不超过100 万元。对市级及以上“两化”深度融合示范试点工业企业，经审核确认年研发投入 100 万元以上的，给予 5%的补助，单个企业最高补助金额不超过 100 万元。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;加强两化融合中介服务体系和信息化促进会（CIO 俱乐部）等交流平台建设， 被评为省级“两化”深度融合优秀咨询服务机构、优秀解决方案的，分别一次 性给予 10 万元和 5 万元的奖励。</p></li>
		</ul>
		<p>五、鼓励企业市场拓展</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十一）支持企业展示展销。企业参加市级及以上政府、省级及以上部门 组织的产品博览会、展示会和展销会的，经市级对口部门确认的，给予摊位费 50%补助，最高补助 1 万元。省、市政府另有规定的展会补助从其规定执行。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十二）支持行业准入认证。对重点鼓励发展行业，经备案确认的行业准 入认证，给予 50%认证费奖励，最高限额 5 万元。<p>对国家或省规定纳入准入管理或规范化管理行业，经国家或省组织评定、 认证，已取得相应证书或文件，涉及认证费的按 50%认证费一次性奖励，最高限 额 5 万元；未涉及认证费的一次性奖励 2 万元。</p></li>
		</ul>
		<p>六、鼓励企业节能减排</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十三）支持企业实施节能减排项目。经核准或备案的节能、节水、循环化改造等技术改造项目和污染减排、行业整治等污染治理项目，竣工投产后， 按节能节水设备、减排设施新增投资额 8%补助。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十四）支持企业绿色生产。通过清洁生产审核验收的企业给予 5 万元补助。获得“浙江省绿色企业（清洁生产先进企业）”称号的企业给予 5 万元奖励。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;新获得国家节能产品认证的给予 10 万元奖励。列入省级以上《节能产品政府采购清单》和节能（电）、节水技术目录的企业，每个项目给予一次性奖励 10 万元。列入省级以上循环经济示范项目的企业给予一次性奖励 10 万元</p></li>
		</ul>
		<p>七、鼓励小微企业成长</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十五）支持企业“小升规”。对首次年销售收入达到 2000 万元并纳入规模以上工业统计的企业，给予一次性 8 万元奖励。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十六）支持企业租赁标准厂房。鼓励标准厂房微利出租或按土地出让合 同、协议约定分割转让。<p>&nbsp;&nbsp;&nbsp;&nbsp;企业租赁标准厂房（闲置厂房）年实缴税金达到 20 万元以上（含）的，按 核定的承租面积分档给予租金补助：年实缴税金≥100 元/平方米的，给予 15 元/平方米年租金补助；年实缴税金≥200 元/平方米的，给予 25 元/平方米年租金 补助；年实缴税金≥300 元/平方米的，给予 50 元/平方米年租金补助。</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十七）便捷办理不动产登记。在符合规划条件和消防安全的前提下，并 有可分割的界址点和相应的出口等条件的，宗地确需分割的，应经国土资源主 管部门会同有关部门同意，允许工业企业办理建设项目用地复核分期验收、分 割登记。单宗用地面积 10 亩以下不予分期验收、分割登记；单宗用地面积 10-50亩可分两期验收，可分割成 2 本不动产权证书；单宗用地面积 50 亩以上的最多可分三期验收，可分割成 3 本不动产权证书。</li>
		</ul>
		<p>八、鼓励企业人才队伍建设</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十八）支持企业家素质提升。对企业经营管理人员参加国内外高等院校 举办的工商管理硕士研修班，取得结业证书的，按学费 50%补助企业，每人补助 不超过2 万元，每家企业每年限额 3 名以内。经培训取得职业高级技师资格证 书的，参照执行。</li>
		</ul>
		<p>九、鼓励企业争先创优</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（十九）强化“亩产论英雄”导向。积极开展“亩产效益”考核，按属地原则开展评选、奖励，积极营造鼓励企业争先创优的浓厚氛围。 经评定入围市级功勋企业、纳税 20 强的市区企业，分别给予 20 万元、10万元奖励，就高兑现不重复享受。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十）强化差别化要素配置机制。全面开展企业绩效综合评价，探索执 行差别化电价、差别化水价、差别化排污费、差别化减免城镇土地使用税、差 别化用地、差别化用能、差别化金融信贷准入等市场化要素配置机制，另行制 定差别化资源要素价格和配置政策。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十一）强化合力扶工机制。各有关部门应积极研究针对生态工业发展 的专项扶持政策，落实出台品牌与质量提升、科技创新、电子商务、外贸出口、 工业设计、对接资本市场、中小企业融资、人才激励、劳动教育、安全生产、 环境保护等方面的政策措施，努力形成扶持生态工业发展的合力。</li>
		</ul>
		<p>十、附则</p>
		<ul>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十二）扶持对象条件规定。本意见除条文中已明确有特定享受对象或 享受条件的以外，享受对象应为符合国家、省、市产业政策，在市区登记注册（含市直、莲都区、丽水开发区），具有独立法人资格的制造业企业。其中本意 见第（二）条“总部型企业”还须同时符合以下条件：属于国家高新技术企业，或省、市级“三名”企业，或市级优质财源培育 企业；在丽水市区实缴税金 1000 万元以上（含）；企业预期在未来 5 年将实现地方财政贡献（含新引进到丽水市区持股 40% 以上的企业）相对“初始基数”年均增长 20%以上。</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十三）一般限制性规定。企业可同时享受本意见和省级以上扶持政策。 同一项目既符合本意见又符合其他政策，或符合本意见多项条款，或符合同一 条款内多档次奖励（补助）条件的，由企业自行选择一项申报，不重复兑付。<p>当年发生重大环境、安全生产事故，或出现重大违法案件、严重失信行为 的企业，以及企业绩效综合评价“重点整治类”、列入安全生产“黑名单”企业 不得享受本政策。</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十四）“总部型企业”有关规定。 
			<p>&nbsp;&nbsp;&nbsp;&nbsp;“总部型企业”的“初始基数”按起始年的上一年度地方财政贡献确定;“考核基数”以“初始基数”年均增长 10%确定。“总部型企业”地方财政贡献相对“初始基数”必须达到年均增速 20%以上，未达到的，当年不得享受本意见第（二） 条；连续 3 年未达到的，取消“总部型企业”资格，并 3 年内不得重复申请。 地方财政贡献统一按现行政策计算，如遇国家政策调整作相应调整。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;奖励扶持资金专项用于企业研发、技术（人才）引进、技术改造、扩大再 生产、兼并重组等。所获得的资金纳入统一监管，不得作为利润分红和个人奖 励，实行年度审计报告制度。</p></li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十五）政策衔接规定。已享受“一企一策”的企业，政策期内不得享 受本意见，政策到期后按本意见执行的，应符合本意见相关条件，其中“总部 型企业”按以下方式确定“初始基数”：
			<p>&nbsp;&nbsp;&nbsp;&nbsp;1.原政策已设定考核基数并按 10%增长的，以原政策到期当年的基数为“初 始基数”。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;2.原政策设定固定考核基数，实施超额部分地方财政贡献全额奖励的，按 列入培育前 5 年地方财政贡献平均数为“初始基数”。</p>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;3.原政策设定固定考核基数，且以全税种税收入库数作为考核内容的，按 原基数形成的地方财政贡献年均增长 10%计算到政策到期当年，作为“初始基数”。</p>
			</li>
			<li>&nbsp;&nbsp;&nbsp;&nbsp;（二十六）其他规定。本意见第（十）条奖励补助由市财政承担，其他条 款所涉及的奖励和补助资金按现行财政体制分担、兑付。
			本意见自发布之日起施行，“总部型企业”自认定年度开始享受本意见 5 年， 如有新规定的从其规定。
			<p>&nbsp;&nbsp;&nbsp;&nbsp;本意见出台后原《丽水市人民政府关于加快市直工业经济又好又快发展的 若干意见》（丽政发〔2008〕68 号）、《丽水市人民政府关于加快市直工业经济又好又快发展的补充意见》（丽政发〔2009〕63 号）、《丽水市人民政府关于促进小 微企业健康发展的若干意见》（丽政发〔2012〕59 号）、《丽水市人民政府关于印 发丽水市区企业转贷应急基金使用管理办法》（丽政办发〔2009〕100 号）、《丽 水市人民政府关于大力培育发展战略性新兴产业的实施意见》（丽政发〔2012〕 13 号）、《丽水市人民政府关于印发丽水市区创业投资基金管理办法的通知》（丽 政发〔2013〕6 号）文件同时废止。如有其他文件与本意见冲突的，以本文件规 定为准。</p>
			</li>
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>