<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    	<meta content="black" name="apple-mobile-web-app-status-bar-style">
		<title>众创空间入住须知</title>
		<link rel="stylesheet" href="./../../../../Public/home/dist/css/reset.css"  type="text/css"/>
	<style>
	/* CSS Document */
	.wx_qyfc_header_img img{
		width: 100%;
		height: 100%;
	}
	body{
		background-color: #fff;
	}
	.content {
		/*font-size: 13px;*/
		padding: 1.5rem 1rem;
		height: 0.2rem;
		line-height: 1.5rem;
	}
	
</style>
</head>
<body>
	<div class="wx_qyfc_header_img">
		<img src="./../../../../Public/home/dist/images/index_banner.png">
	</div>

	<div class="content">
		<p> &nbsp;&nbsp;&nbsp;&nbsp;请联系我们：0578-2200216</p>
		<p> &nbsp;&nbsp;&nbsp;&nbsp;地址：绿谷信息产业园一号楼302室</p>
	
	</div>
	<!--通用JS-->
	<script src="__PUBLIC__/home/dist/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/home/dist/js/rem.js"></script>
</body>
</html>